{% extends 'base.html' %}

{% load static %}

{% block title %} Iniciar Sesión {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            <h4 style="text-align: center; margin: 20px;">Administrador</h4>
            <table>
                {{form | crispy}}
            </table>
            <div class="optionForm" style="text-align: center;">
                <input type="submit" value="Ingresar">
            </div>
            <br>
            <a role="button" href="{% url 'form' %}">Volver al formulario</a>
        </form>    
    </div>
{% endblock %}