h1 {
    color: #b85b3f;
    font-size: 35px;
    text-shadow:3px 3px #e8e3c7;
    font-family: 'Baloo Tamma 2', cursive;
    text-align: center;
    padding: 40px;
}

label {
    font-family: 'Josefin Sans', sans-serif;
    width: 30%;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li {
    display: inline;
    margin: 0 20px;
}

.fas {
    cursor: pointer;
    margin-left: 7px;
}

.form {
    margin-top: auto;
    max-width: 400px;
    width: 100%;
    height: auto;
    background: rgb(219, 199, 186);
    padding: 20px 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    box-shadow: 0px 20px 40px 1px rgba(17, 17, 17, 0.08);
}

.form input {
    margin: 20px auto 0;
    width: 60%;
    padding: 5px;
    border: none;
    background: #eeeeee;
}

.optionForm {
    width: 100%;
}

.optionForm input {
    background: #8dc2a5;
    width: 40%;
    margin: 30px 10px 0;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
}

.optionForm button,
.optionForm a {
    background: rgb(241, 132, 132);
    border: none;
    width: 40%;
    margin: 30px 10px 0;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
}