{% extends 'base.html' %}

{% load static %}

{% block title %} Gestión de Préstamos {% endblock %}

{% block content %}
<script>
  function deleteLoan(id) {
    Swal.fire({
      "title": "¿Estás seguro?",
      "text": "Esta acción no se puede deshacer",
      "icon":"question",
      "showCancelButton": true,
      "cancelButtonText": "No, cancelar",
      "confirmButtonText": "Si, eliminar",
      "reverseButtons": true,
      "confirmButtonColor": "#dc3545"
    })
    .then(function(result) {
      if (result.isConfirmed) {
        window.location.href = "/delete-loan/"+id+"/"
      }
    })
  }
</script>
  <table class="table table-striped table-hover table-responsible-sm">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Usuario</th>
        <th scope="col">Dni</th>
        <th scope="col">Género</th>
        <th scope="col">Correo</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Operación</th>
      </tr>
    </thead>
    <tbody>
      {% for loan in loans %}
      <tr>
        <th scope="row">{{loan.id}}</th>
        <td>{{loan.firstname}} {{loan.lastname}}</td>
        <td>{{loan.dni}}</td>
        <td>{{loan.gender}}</td>
        <td>{{loan.email}}</td>
        <td>{{loan.amount}}</td>
        <td>
          <a href="{% url 'modify-loan' loan.id %}"><i class="fas fa-edit text-primary"></i></a>
          <a onclick="deleteLoan({{loan.id}})"><i class="fas fa-trash-alt text-danger"></i></a>  
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="mt-5">
    {% include 'paginator.html' %}
  </div>
{% endblock %}