{% extends 'base.html' %}

{% load static %}

{% block title %} Formulario de Préstamo {% endblock %}

{% block content %}
{% load crispy_forms_tags %}

    <div class="form" style="margin-top: 50px;">
        <form method="POST">
            {% csrf_token %}
            <table>
                {{form | crispy }}
            </table>
            <div class="optionForm" style="text-align: center;">
                <input type="submit" value="Modificar">
            </div>
            <a href="{% url 'list-loans' %}">Cancelar</a>
        </form>    
    </div>
{% endblock %}