<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <ul class="nav">
                    <li>
                        <a href="{% url 'form' %}" class="navbar-brand">Pedidos</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}" type="button" class="btn btn-outline-light btn-sm justify-content-md-end">Salir</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}" type="button" class="btn btn-outline-light btn-sm justify-content-md-end">Iniciar Sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="container mt-4">
        <h1>{% block title %} {% endblock %}</h1>
    
        <div id="content">
            {% if messages %}
                {% for m in messages %}
                    {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <script>
                            Swal.fire({
                                "title": "Error",
                                "text": "{{m}}",
                                "icon":"error"
                            })
                        </script>
                    {% elif m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <script>
                            Swal.fire({
                                "title": "Felicitaciones",
                                "text": "{{m}}",
                                "icon":"success"
                            })
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>