{% extends 'base.html' %}

{% load static %}

{% block title %} Formulario de Préstamo {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="form" style="margin-top: 50px;">
        <form method="POST">
            {% csrf_token %}
            <table>
                {{form | crispy }}
            </table>
            <div class="optionForm">
                <button type="reset" value="Cancelar">Cancelar</button>
                <input type="submit" value="Solicitar">
            </div>
        </form>    
    </div>
{% endblock %}
